.hometitle-h1 {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #d31818;
  text-shadow: 2px 2px #f9f7f7;
  position: relative;
  top: 40px;
  font-size: 4em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  right: 22%;
  top: 0%;
}
.home-section {
  height: 734px;
  max-width: 100%;
  background: url('./assets/andre-benz-250740.jpg') no-repeat center center;
}
