.hometitle-h1 {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.home-section {
  height: 812px;
  max-width: 100%;
  background: url('./assets/background_img1.jpg');
  background-repeat: no-repeat;
}
